@tailwind base;
@tailwind components;
@tailwind utilities;

/* ACE1AF gelap*/
/* B0EBB4 terang ke 3*/
/* BFF6C3 terang ke 2*/
/* E0FBE2 paling terang*/

/* dark mode looking scroll bar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
